[user]
	name = Keith Albergaria
	email = 22038940+keithalbe@users.noreply.github.com

[core]
	editor = vi

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
